fullnameOverride: blackbox-exporter
image:
  repository: lwolf/blackbox-exporter
  tag: v0.16.0-armv6
podDisruptionBudget:
  enabled: false
config:
  modules:
    http_2xx:
      prober: http
      timeout: 5s
      http:
        no_follow_redirects: true
        preferred_ip_protocol: ip4
        valid_http_versions:
          - HTTP/1.1
          - HTTP/2
        valid_status_codes:
          - 200
          - 301
          - 307
          - 401
          - 403
ingress:
  enabled: true
  hosts:
    - blackbox.cluster.rebelinblue.com
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    ingress.kubernetes.io/auth-type: forward
    ingress.kubernetes.io/auth-url: http://traefik-forward-auth.infra.svc
    ingress.kubernetes.io/auth-response-headers: X-Forwarded-User
  tls:
    - hosts:
        - blackbox.cluster.rebelinblue.com
      secretName: blackbox-exporter-tls
service:
  annotations:
    prometheus.io/scrape: "true"